name: Build Release

on:
  [ workflow_dispatch ]

env:
  TAG_VERSION: 1.5.2

jobs:
  create-linux-package:
    runs-on: ubuntu-latest
    name: Package Release Distribution For Linux
    steps:
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 17
          architecture: x64
      - name: Fetch Sources
        uses: actions/checkout@v4
      - name: Package Release
        run: ./gradlew packageReleaseDistributionForCurrentOS
      - name: Prep build artifacts for release
        run: |
          set -e
          mv  /home/runner/work/AndroidToolKit/AndroidToolKit/composeApp/output/main-release/deb/androidtoolkit_${{ env.TAG_VERSION }}-1_amd64.deb  /home/runner/work/AndroidToolKit/AndroidToolKit/composeApp/output/main-release/deb/AndroidToolKit-${{ env.TAG_VERSION }}-linux.deb
      - name: Draft Release
        uses: ncipollo/release-action@v1
        with:
          draft: true
          allowUpdates: true
          tag: "v${{ env.TAG_VERSION }}"
          artifacts: "composeApp/output/main-release/deb/*"
          token: ${{ secrets.GH_TOKEN }}

  create-win-x64-package:
    runs-on: windows-latest
    name: Package Release Distribution For Windows x64
    steps:
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 17
          architecture: x64
      - name: Fetch Sources
        uses: actions/checkout@v4
      - name: Package Release
        run: ./gradlew packageReleaseDistributionForCurrentOS
      - name: Prep build artifacts for release
        run: |
          $ErrorActionPreference = "Stop"
          mv D:\a\AndroidToolKit\AndroidToolKit\composeApp\output\main-release\msi\AndroidToolKit-${{ env.TAG_VERSION }}.msi D:\a\AndroidToolKit\AndroidToolKit\composeApp\output\main-release\msi\AndroidToolKit-${{ env.TAG_VERSION }}-windows-x64.msi
      - name: Draft Release
        uses: ncipollo/release-action@v1
        with:
          draft: true
          allowUpdates: true
          tag: "v${{ env.TAG_VERSION }}"
          artifacts: "composeApp/output/main-release/msi/*"
          token: ${{ secrets.GH_TOKEN }}

  create-mac-x64-package:
    runs-on: macos-13
    name: Package Release Distribution For Mac x64
    steps:
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 17
          architecture: x64
      - name: Fetch Sources
        uses: actions/checkout@v4
      - name: Package Release
        run: ./gradlew packageReleaseDistributionForCurrentOS
      - name: Prep build artifacts for release
        run: |
          set -e
          mv  /Users/runner/work/AndroidToolKit/AndroidToolKit/composeApp/output/main-release/dmg/AndroidToolKit-${{ env.TAG_VERSION }}.dmg  /Users/runner/work/AndroidToolKit/AndroidToolKit/composeApp/output/main-release/dmg/AndroidToolKit-${{ env.TAG_VERSION }}-macos-x64.dmg
      - name: Draft Release
        uses: ncipollo/release-action@v1
        with:
          draft: true
          allowUpdates: true
          tag: "v${{ env.TAG_VERSION }}"
          artifacts: "composeApp/output/main-release/dmg/*"
          token: ${{ secrets.GH_TOKEN }}

  create-mac-arm64-package:
    runs-on: macos-14
    name: Package Release Distribution For Mac arm64
    steps:
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 17
          architecture: aarch64
      - name: Fetch Sources
        uses: actions/checkout@v4
      - name: Package Release
        run: ./gradlew packageReleaseDistributionForCurrentOS
      - name: Prep build artifacts for release
        run: |
          set -e
          mv /Users/runner/work/AndroidToolKit/AndroidToolKit/composeApp/output/main-release/dmg/AndroidToolKit-${{ env.TAG_VERSION }}.dmg /Users/runner/work/AndroidToolKit/AndroidToolKit/composeApp/output/main-release/dmg/AndroidToolKit-${{ env.TAG_VERSION }}-macos-arm64.dmg
      - name: Draft Release
        uses: ncipollo/release-action@v1
        with:
          draft: true
          allowUpdates: true
          tag: "v${{ env.TAG_VERSION }}"
          artifacts: "composeApp/output/main-release/dmg/*"
          token: ${{ secrets.GH_TOKEN }}
